
body{
    background-color: black;
    color: #fff;
}
h3#border{
    border: 1px solid #ff9f9f;
}
a{
    border-width: 1px;
    border-style: solid;
    border-color: #ff9f9f;
    /* all these three properties con combined returned as border as we styled for h3 tag above */
}
 
.border{
    /* padding: 10px; */
    padding: 10px 100px;
    border-top: 3px solid #ffee9f;
    border-bottom: 5px dotted #f1f;
    border-left: 2px dashed #aaffaa;
    border-right: 3px double cyan;
}
.b-r{
    width: 300px;
    height: 300px;
    background-color: hotpink;
    border-radius: 10px 20px;  /** top-left,bottom-right and top-right, bottom-left */
}
 .para{
    margin: 100px;
}